[user]
	email = qinxij@163.com
	name = qinxij
[push]
	default = matching
[core]
	excludesfile = /Users/qij/.gitignore_global
	editor = gvim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[merge]
	tool = gvimdiff
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = reset HEAD --
